.certifications-section{
    margin-top: 90px;
}
.certification-icon {
    position: relative;
    font-size: 1.2rem;
    top: 35px;
  }
  .certification-title-main{
    position: relative;
    left: 30px;
    top: 10px;
    font-weight: 600;
    font-size: 1.3rem;
  }
  
  
  .certification-name {
    position: relative;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
  }
  .certification {
    position: relative;
    font-size: 0.9rem;
  }
  