.certifications-section{
    margin-top: 5rem;
}
.certification-icon {
    position: relative;
    font-size: 1.1rem;
    top: 2.1rem;
  }
  .certification-title-main{
    position: relative;
    left: 1.9rem;
    top: 10px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  
  .certification-name {
    position: relative;
    margin-top: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .certification {
    position: relative;
    font-size: 0.8rem;
  }
  