.education-icon{
  position: relative;
  left: -25px;
  top: 35px;
  background: white;
  z-index: 1;
  width: 20px;
  height: 20px;
}

.education-title-main{
    position: relative;
    left: 10px;
    top: 10px;
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .education-title {
    position: relative;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 14px;
  }
  
  .education-school {
    position: relative;
    font-size: 0.9rem;
  }
  
  
  .bullet-education{
    @extend .bullet;
    left: -20px;
    top: 36px;
  }
  
  