.education-icon{
  position: relative;
  left: -1.6rem;
  top: 2.7rem;
  background: white;
  z-index: 1;
  width: 1.3rem;
  height: 1.3rem;
}

.education-title-main{
    position: relative;
    left: 0.6rem;
    top: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .education-title {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.6rem;
  }
  
  .education-school {
    position: relative;
    font-size: 0.9rem;
  }
  
  
  .bullet-education{
    @extend .bullet;
    left: -1.2rem;
    top: 2rem;
  }
  
  