  .experience-info-icon {
    position: relative;
    left: -24px;
    top: 50px;
    width: 20px;
    height: 22px;
    background: white;
    z-index: 1;
  }
  .experience-title-main{
    position: relative;
    padding-bottom: 10px;
    left: 4px;
    top: 23px;
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  
  .designation-title {
    position: relative;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .company-title {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
  }
  .project-title {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .project-detail{
    position: relative;
    font-size: $font-size-project-detail;
  }
  
  .company-title {
    position: relative;
    font-size: 16px;
    font-weight: 400;
  }
  .bullet-experience{
    @extend .bullet;
    left: -20px;
    top: 22px;
  }