  .experience-info-icon {
    position: relative;
    left: -1.5rem;
    top: 3.1rem;
    width: 1.2rem;
    height: 1.3rem;
    background: white;
    z-index: 1;
  }
  .experience-title-main{
    position: relative;
    padding-bottom: 0.6rem;
    left: 0.25rem;
    top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  
  .designation-title {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
  }
  .company-title {
    position: relative;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .project-title {
    position: relative;
    font-size: .9rem;
    font-weight: 400;
  }
  
  .project-detail{
    position: relative;
    font-size: $font-size-project-detail;
  }
  
  .company-title {
    position: relative;
    font-size: 16px;
    font-weight: 400;
  }
  .bullet-experience{
    @extend .bullet;
    left: -20px;
    top: 22px;
  }