$title-font-size: 1rem;
$content-font-size: 0.9rem;

.personal-info-icon {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
}
.personal-info-title {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  font-size: 1.3rem;
  font-weight: 500;
  }
  
  .address-title {
    font-size: $title-font-size;
    font-weight: 600;
  }
  .address {
    font-size: $content-font-size;
    margin-bottom: 20px;
  }
  .phone-title{
    font-size: $title-font-size;
    font-weight: 600;
  }
  .phone{
    font-size: $content-font-size;
    margin-bottom: 20px;
  }
  
  .email-title{
    font-size: $title-font-size;
    font-weight: 600;
  }
  .email{
    font-size: $content-font-size;
    margin-bottom: 20px;
  }
  
  .dob-title{
    font-size: $title-font-size;
    font-weight: 600;
  }
  .dob{
    font-size: $content-font-size;
    margin-bottom: 20px;
  }
  
  .profile-title{
    font-size: $title-font-size;
    font-weight: 600;
  }
  .profile{
    font-size: $content-font-size;
    margin-bottom: 20px;
  }
  
  .linkedin-title{
    font-size: $title-font-size;
    font-weight: 600;
  }
  .linkedin{
    font-size: $content-font-size;
    margin-bottom: 20px;
  }
  