.personal-info-icon {
    position: absolute;
    top: 50px;
    width: 100px;
    height: 100px;
}
.personal-info-title {
    position: absolute;
    left: 55px;
    top: 50px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .address-title {
    position: absolute;
    top:$address-top;
    font-weight: 600;
  }
  .address {
    position: absolute;
    top: $address-top + 20px;
  }
  .phone-title{
    position: absolute;
    top:$phone-top;
    font-weight: 600;
  }
  .phone{
    position: absolute;
    top: $phone-top + 20px;
  }
  
  .email-title{
    position: absolute;
    top:$email-top;
    font-weight: 600;
  }
  .email{
    position: absolute;
    top: $email-top + 20px;
  }
  
  .dob-title{
    position: absolute;
    top:$dob-top;
    font-weight: 600;
  }
  .dob{
    position: absolute;
    top: $dob-top + 20px;
  }
  
  .profile-title{
    position: absolute;
    top:$profile-top;
    font-weight: 600;
  }
  .profile{
    position: absolute;
    top: $profile-top + 20px;
  }
  
  .linkedin-title{
    position: absolute;
    top:$linkedin-top;
    font-weight: 600;
  }
  .linkedin{
    position: absolute;
    top: $linkedin-top + 20px;
  }
  