.skills-header{
  position: relative;
  margin-top: 3.8rem;
}
.skills-icon{
    position: relative;
    top: 1.6rem;
    font-size: 1.1rem;
}
.skills-title {
    position: relative;
    left: 1.7rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
.skill {
    display: block;
    font-size: 0.9rem;
    padding-top: 1.7rem;
  }
  
  .skill-name {
    display: inline-block;
    position: relative;
    float: left;
  }

  .skill-bullets {
    display: inline-block;
    position: relative;
    float: right;
  }

  
  .dark {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    font-size: 0.75rem !important;
  }
  
  .light {
    font-size: 0.75rem !important;
    position: relative;
    display: inline-block;
    margin: 0 3px;
    color: rgb(160,160,160);
  }

  