
.skills-title {
    position: absolute;
    top: $skills-title-top;
    font-weight: 600;
  }
  
  .skill-1 {
    position: absolute;
    top: $skill-1-top;
  }
  
  .skill-1-bullets {
    position: absolute;
    top: $skill-1-top + 20px;
  }
  
  .skill-1-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-2 {
    position: absolute;
    top: $skill-2-top;
  }
  
  .skill-2-bullets {
    position: absolute;
    top: $skill-2-top + 20px;
  }
  
  .skill-2-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-3 {
    position: absolute;
    top: $skill-3-top;
  }
  
  .skill-3-bullets {
    position: absolute;
    top: $skill-3-top + 20px;
  }
  
  .skill-3-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-4 {
    position: absolute;
    top: $skill-4-top;
  }
  
  .skill-4-bullets {
    position: absolute;
    top: $skill-4-top + 20px;
  }
  
  .skill-4-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-5 {
    position: absolute;
    top: $skill-5-top;
  }
  
  .skill-5-bullets {
    position: absolute;
    top: $skill-5-top + 20px;
  }
  
  .skill-5-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-6 {
    position: absolute;
    top: $skill-6-top;
  }
  
  .skill-6-bullets {
    position: absolute;
    top: $skill-6-top + 20px;
  }
  
  .skill-6-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-7 {
    position: absolute;
    top: $skill-7-top;
  }
  
  .skill-7-bullets {
    position: absolute;
    top: $skill-7-top + 20px;
  }
  
  .skill-7-bullets span{
    position: relative;
    top: 5px;
  }

  .dark {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 11px;
    background: black;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .light {
    position: absolute;
    display: inline-block;
    width: 11px;
    height: 11px;
    background: rgb(150,150,150);
    border-radius: 50%;
    margin: 0 5px;
  }
  
  