
.skills-title {
    position: absolute;
    top: $skills-title-top;
    left: 600px;
    font-weight: 600;
  }
  
  .skill-1 {
    position: absolute;
    top: $skill-1-top;
    left: 600px;
  }
  
  .skill-1-bullets {
    position: absolute;
    left: 700px;
    top: $skill-1-top + 20px;
  }
  
  .skill-1-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-2 {
    position: absolute;
    top: $skill-2-top;
    left: 600px;
  }
  
  .skill-2-bullets {
    position: absolute;
    left: 700px;
    top: $skill-2-top + 20px;
  }
  
  .skill-2-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-3 {
    position: absolute;
    top: $skill-3-top;
    left: 600px;
  }
  
  .skill-3-bullets {
    position: absolute;
    left: 700px;
    top: $skill-3-top + 20px;
  }
  
  .skill-3-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-4 {
    position: absolute;
    top: $skill-4-top;
    left: 600px;
  }
  
  .skill-4-bullets {
    position: absolute;
    left: 700px;
    top: $skill-4-top + 20px;
  }
  
  .skill-4-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-5 {
    position: absolute;
    top: $skill-5-top;
    left: 600px;
  }
  
  .skill-5-bullets {
    position: absolute;
    left: 700px;
    top: $skill-5-top + 20px;
  }
  
  .skill-5-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-6 {
    position: absolute;
    top: $skill-6-top;
    left: 600px;
  }
  
  .skill-6-bullets {
    position: absolute;
    left: 700px;
    top: $skill-6-top + 20px;
  }
  
  .skill-6-bullets span{
    position: relative;
    top: 5px;
  }
  .skill-7 {
    position: absolute;
    top: $skill-7-top;
    left: 600px;
  }
  
  .skill-7-bullets {
    position: absolute;
    left: 700px;
    top: $skill-7-top + 20px;
  }
  
  .skill-7-bullets span{
    position: relative;
    top: 5px;
  }
  