
.timeline-dates{
    display: inline-block;
    width: 70px;
    vertical-align: top;
}
.timeline-1{
    position: relative;
    padding-top: 11rem;
    font-size: 0.9rem;
}

.timeline-2{
    font-size: 0.9rem;
    position: relative;
    padding-top: 5.8rem;
}

.timeline-3{
    font-size: 0.9rem;
    position: relative;
    padding-top: 5.9rem;
}

.timeline-4{
    font-size: 0.9rem;
    position: relative;
    padding-top: 9.1rem;
}

.timeline-5{
    font-size: 0.9rem;
    position: relative;
    padding-top: 10.5rem;
}

.timeline-6{
    font-size: 0.9rem;
    position: relative;
    padding-top: 1.9rem;
}