
.timeline-dates{
    display: inline-block;
    width: 70px;
    vertical-align: top;
}
.timeline-1{
    position: relative;
    padding-top: 208px;
}

.timeline-2{
    position: relative;
    padding-top: 121px;
}

.timeline-3{
    position: relative;
    padding-top: 120px;
}

.timeline-4{
    position: relative;
    padding-top: 176px;
}

.timeline-5{
    position: relative;
    padding-top: 181px;
}

.timeline-6{
    position: relative;
    padding-top: 37px;
}