.my-picture {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: black;
    position: relative;
  }

.title-section{
  position: relative;
}
.title-image{
  width: 6rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.title-content{
  position: relative;
  display: inline-block;
  width: 18rem;
  padding-left: 1.2rem;
  vertical-align: top;
}
  
  .name-title {
    position: relative;
    font-family: "Calibri";
    font-weight: 500;
    font-style: normal;
    font-size: 2.9rem;
  }
  
  .work-title {
    position: relative;
    font-family: "Calibri";
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
  }
  