$page-height: 1400px;
$page-width: 900px;
$summary-start:150px;
$experience-1-start:340px;
$experience-2-start:500px;
$experience-3-start:660px;
$experience-4-start:890px;
$education-1-start:1130px;
$education-2-start:1200px;
$font-size-project-detail: 14px;
$personal-info-top:100px;
$address-top:130px;
$phone-top:180px;
$email-top:230px;
$dob-top:280px;
$profile-top:330px;
$linkedin-top:380px;
$skills-title-top: 450px;
$skill-1-top:500px;
$skill-2-top:580px;
$skill-3-top:660px;
$skill-4-top:740px;
$skill-5-top:820px;
$skill-6-top:900px;
$skill-7-top:980px;
$skill-8-top:1060px;
