$max-page-height: 1400px;
$max-page-width: 1000px;
$summary-start:50px;
$experience-1-start:340px;
$experience-2-start:500px;
$experience-3-start:660px;
$experience-4-start:890px;
$education-1-start:1130px;
$education-2-start:1200px;
$font-size-project-detail: 14px;
$personal-info-top:100px;
$address-top:90px;
$phone-top:150px;
$email-top:210px;
$dob-top:270px;
$profile-top:330px;
$linkedin-top:390px;
$skills-title-top: 520px;
$skill-1-top:550px;
$skill-2-top:600px;
$skill-3-top:650px;
$skill-4-top:700px;
$skill-5-top:750px;
$skill-6-top:800px;
$skill-7-top:850px;
$skill-8-top:900px;

.bullet {
    position: relative;
    color: rgb(80, 80, 80);
}