@page { size: auto;  margin: 0mm; }
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import './custom-styles/variables.scss';
@import './custom-styles/education.scss';
@import './custom-styles/experience.scss';
@import './custom-styles/skills.scss';
@import './custom-styles/personalInfo.scss';
@import './custom-styles/summary.scss';
@import './custom-styles/title.scss';
@import './custom-styles/page.scss';
@import './custom-styles/timeline-dates.scss';
@import './custom-styles/timeline-content.scss';
@import './custom-styles/certification.scss';

.App {
  width: 100%;
  min-width: 768px;
  display: flex;
  justify-content: center;
}
