$page-height: 1400px;
$page-width: 900px;
$summary-start:150px;
$experience-1-start:340px;
$experience-2-start:500px;
$experience-3-start:660px;
$experience-4-start:890px;
$font-size-project-detail: 14px;


.App {
  display: flex;
  justify-content: center;
}

.page{
  position: relative;
  width: $page-width;
  height: $page-height;
  border: 1px solid black;

}

.my-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
  position: relative;
  left: 20px;
  top: 20px;
  display: inline-block;
}

.name-title {
  display: inline-block;
  position: absolute;
  font-family: "Calibri";
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  left: 135px;
  top: 25px;
}

.work-title {
  display: inline-block;
  position: absolute;
  font-family: "Calibri";
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  left: 135px;
  top: 75px;
}

.vertical-timeline {
  position: absolute;
  width: 0px;
  height: 1100px;
  border: 2px solid rgb(80,80,80);
  left: 110px;
  top: 150px;
}

.summary-title {
  position: absolute;
  left: 140px;
  top: $summary-start;
  font-size: 20px;
  font-weight: 500;
}

.bullet {
  position: absolute;
  left: 106px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
}

.bullet-summary{
  @extend .bullet;
  top: $summary-start + 35px;
}
.bullet-experience-1{
  @extend .bullet;
  top: $experience-1-start + 5px;
}
.bullet-experience-2{
  @extend .bullet;
  top: $experience-2-start + 5px;
}
.bullet-experience-3{
  @extend .bullet;
  top: $experience-3-start + 5px;
}
.bullet-experience-4{
  @extend .bullet;
  top: $experience-4-start + 5px;
}

.summary {
  position: absolute;
  left: 140px;
  top: $summary-start + 30px;
  width: 400px;
}

.personal-info-title {
  position: absolute;
  left: 600px;
  top: 50px;
  font-size: 20px;
  font-weight: 500;
}

.address-title {
  position: absolute;
  left: 600px;
  top: 80px;
}
.address {
  position: absolute;
  left: 600px;
  top: 110px;
}

.experience-title-main{
  position: absolute;
  left: 140px;
  top: 300px;
  font-size: 20px;
  font-weight: 500;
}

.designation-title {
  position: absolute;
  left: 140px;
  font-size: 18px;
  font-weight: 500;
}
.company-title {
  position: absolute;
  left: 140px;
  font-size: 16px;
  font-weight: 400;
}
.project-title {
  position: absolute;
  left: 140px;
  font-size: 16px;
  font-weight: 400;
}

.project-detail{
  position: absolute;
  left: 140px;
  width: 430px;
  font-size: $font-size-project-detail;
}

.designation-1-title{
  @extend .designation-title;
  top: $experience-1-start;
  
}
.company-1-title {
  @extend .company-title;
  top: $experience-1-start + 20px;
}
.project-1-title {
  @extend .project-title;
  top: $experience-1-start + 40px;
}

.project-1-detail{
  @extend .project-detail;
  top: $experience-1-start + 60px;
}

.designation-2-title{
  @extend .designation-title;
  top: $experience-2-start;
}
.company-2-title {
  @extend .company-title;
  top: $experience-2-start + 20px;
}
.project-2-title {
  @extend .project-title;
  top: $experience-2-start + 40px;
}

.project-2-detail{
  @extend .project-detail;
  top: $experience-2-start + 60px;
}

.designation-3-title{
  @extend .designation-title;
  top: $experience-3-start;
}
.company-3-title {
  @extend .company-title;
  top: $experience-3-start + 20px;
}
.project-3-title {
  @extend .project-title;
  top: $experience-3-start + 40px;
}

.project-3-detail{
  @extend .project-detail;
  top: $experience-3-start + 60px;
}

.designation-4-title{
  @extend .designation-title;
  top: $experience-4-start;
}
.company-4-title {
  @extend .company-title;
  top: $experience-4-start + 20px;
}
.project-4-title {
  @extend .project-title;
  top: $experience-4-start + 40px;
}

.project-4-detail{
  @extend .project-detail;
  top: $experience-4-start + 60px;
}